<h1><%= scraper.name %></h1>

<% var _esc = esc %>

<% function showContent(s) { %>
	<ul>
	<% var parsers = s.parsers; %>
	<% for (var i=0, parser; parser = parsers[i]; i++) { %>
	<li><iframe src="/parser/<%= parser._index %>"></iframe></li>		
		<% if (parser.scrapers.length) { %>
	<li>
			<% 
			var scrapers = parser.scrapers; 
			for (var j=0, s2; s2 = scrapers[j]; j++) { 
				showContent(s2);
			} 
			%>
	</li>
	    <% } %>
	<% } %>
	</ul>
<% } %>

<% showContent(scraper) %>

<textarea rows="20" style="width:100%;">
	<%= JSON.stringify(scraper.items) %>
</textarea>